<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-color: #c8a2c8;
        }
        h1{
            text-align: center;
        }
        .container{
            text-align: center;
        }
        
            
        

 
    </style>
</head>
<body>
    <div class ="container">
    <img src="profile.jpg" alt="profile photo" ></div>
    <h1>NAME: <%=data.name%></h1>
    <h1>EMAIL: <%=data.email%></h1>
    <h1>PHONE: <%=data.phone%></h1>
    <h1>FOLLOWER:<%=data.follower%> </h1>
    <h1>FOLLOWING:<%=data.following%> </h1>

    

    
    
    
</body>

</html>